.login{
  text-align: center;
  position: relative;
  top: 120px;
}

.copyright, .footer-links{
  text-align: center;
  position: relative;
  top: 180px;
}

.altura{
  height: 100vh;
}

.caixa-login{
  height: 40px;
  width: 25%;
  font-size: 20px;
}

.logado{
  font-size: 20px;
}

.checkbox{
  height: 20px;
  width: 20px;
}

.botao-logar{
  height: 40px;
  width: 90px;
  margin-top: 10px;
}

.ou{
  font-size: 20px;
  margin-top: 10px;
}

.botao-entrar{
  height: 35px;
  background-color: #19547c ;
  color: white;
  width: 20%;
  margin-bottom: 20px;
}

.criar-conta{
  font-size: 20px;
