*{
  font-family: 'Poiret One';
  padding: 0px;
  margin: 0px;
}

.container-fluid{
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-top: 0;
}
header{
  height: 68px;
  width: 100%;
  background-color: grey;
  position: fixed;
  z-index: 999;
}

header::after{
  clear: both;
  display: block;
  content: "";
}

header .div_header .barra_de_pesquisa{
  display: none;
}

header .img_logo{
  width: 55px;
  float: left;
}

header .div_header{
  display: inline-block;
  width: 100%;
  padding: 10px;
}

header .div_header a{
  display: none;
}

header i{
  float: right;
  font-size: 40px;
}

header .div_header .img_cart{
display: none;
}

.menu-2{
  display: none;
}
/*
main{
  margin-top: 68px;
} */

.div_banner{
  background-image: url("../images/produto-banner-01.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 533px;
  padding: 30px;
  padding-top: 80px;
}


.div_banner h2{
  text-align: center;
  color: white;
  font-size: 50px;
}

.div_banner p{
  text-align: center;
  color: white;
  margin-top: 10px;
  font-size: 25px;
}

.div_banner #link_banner{
  margin-top: 250px;
}

.div_banner .vermais1{
  text-align: center;
  color: white;
  border: 2px solid white;
  padding: 5px;
}

.destaque{
  background-image: url(../images/produto-destaque-01.jpg);
  background-size: cover;
  height: 300px;
  padding: 10px;
  margin-bottom: 20px;
}

.destaque p, .destaque h3{
  color: white;
  text-align: center;
}

.destaque h3{
  margin-top: 30px;
  font-size: 40px;
}

.destaque p{
  margin-top: 15px;
  font-size: 20px;
}

.destaque a{
  color: white;
  border: 2px white solid;
  padding: 5px;
  width: auto;
  height: auto;
  font-size: 25px;
}

.destaque a:hover{
  color: white;
  text-decoration: none;
}

.destaque #link_destaque{
  text-align: center;
  margin-top: 100px;
}

.div_produtos{
  padding: 5px;
}

.div_produtos .produto1{
  background-image: url("../images/produto-01.jpg");
  background-size: cover;
  height: 65vh;
  width: 95%;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
}

.div_produtos .produto1 h3{
  font-size: 25px;
  color: white;
}

.div_produtos .produto1 p{
  color: white;
}

.div_produtos .produto2{
  background-image: url("../images/produto-02.jpg");
  background-size: cover;
  height: 65vh;
  width: 95%;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
}

.div_produtos .produto2 h3{
  font-size: 25px;
  color: white;
}

.div_produtos .produto2 p{
  color: white;
}

.div_produtos .produto3{
  background-image: url("../images/produto-03.jpg");
  background-size: cover;
  height: 65vh;
  width: 95%;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
}

.div_produtos .produto3 h3{
  font-size: 25px;
  color: white;
}

.div_produtos .produto3 p{
  color: white;
}

.div_produtos .produto4{
  background-image: url("../images/produto-04.jpg");
  background-size: cover;
  height: 65vh;
  width: 95%;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
}

.div_produtos .produto4 h3{
  font-size: 25px;
  color: white;
}

.div_produtos .produto4 p{
  color: white;
}

.div_produtos .vermais{
  text-align: center;
  color: white;
  border: 2px solid white;
  padding: 5px;
  position: absolute;
  top: 86%;
  left: 70%;
  z-index: 988;
}


    /* CSS footer */
footer{
  background-color: black;
  text-align: center;
  padding: 10px;
}

footer h4{
  color: white;
}

footer p{
  color: white;
  font-size: 20px;
}

footer img{
  width: 40px;
}

footer a{
  color: white;
}

footer ul{
  list-style: none;
  padding: 0px;
}

footer label input{
  margin-right: 0 !important;
}

footer label button{
  margin-left: 0 !important;
}

footer .categorias{
  margin-top: 10px;
}

footer .institucional{
  margin-top: 10px;
}

footer .contatos{
  margin-top: 10px;
}

      /* CSS login */
.conteiner-login{
  text-align: center;
  margin-top: 12vh;
  margin-bottom: 50px;
}


      /* CSS FAQ */
.categorias-faq{
  text-align: center;
  width: 100%;
  margin-top: 9vh;
}

.breadcrumb1{
  display: none;
}

.botao_categorias{
  padding: 15px;
}

.prod-destaque{
  background-image: url("../images/produto-destaque-01.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 30vh;
  padding: 10px;
  margin-top: 10px;
}

.prod-destaque h2{
  color: white;
  text-align: center;
  font-size: 24px;
}

.prod-destaque p{
  color: white;
  text-align: center;
}

.prod-destaque .comprar{
  text-align: center;
  color: white;
  border: 2px solid white;
  padding: 5px;
}

.perguntas{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.prod-dest-faq{
  text-align: center;
  width: 100%;
}

.prod-dest-faq p{
  margin-bottom: 0;
}

 .produto-faq{
  background-image: url("../images/produto-01.jpg");
  background-size: cover;
  background-position: center;
  height: 65vh;
  width: 95%;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
  color: white;
}

.vermais-prod-faq{
color: white;
border: 2px solid white;
padding: 5px;
}

.produto2-faq{
 background-image: url("../images/produto-02.jpg");
 background-size: cover;
 background-position: center;
 height: 65vh;
 width: 95%;
 margin: auto;
 margin-bottom: 10px;
 padding: 10px;
 color: white;
 display: none;
}

.vermais-prod2-faq{
color: white;
border: 2px solid white;
padding: 5px;
}

.produto3-faq{
 background-image: url("../images/produto-03.jpg");
 background-size: cover;
 background-position: center;
 height: 65vh;
 width: 95%;
 margin: auto;
 margin-bottom: 10px;
 padding: 10px;
 color: white;
 display: none;
}

.vermais-prod3-faq{
color: white;
border: 2px solid white;
padding: 5px;
}

.produto4-faq{
 background-image: url("../images/produto-04.jpg");
 background-size: cover;
 background-position: center;
 height: 65vh;
 width: 95%;
 margin: auto;
 margin-bottom: 10px;
 padding: 10px;
 color: white;
 display: none;
}

.vermais-prod4-faq{
color: white;
border: 2px solid white;
padding: 5px;
}

aside{
  margin: 0;
}

.perguntas{
  margin: 0;
}

.perguntas b{
  text-align: center;
}

.row{
  margin: 0 !important;
}

.btn{
  margin-top: 10px;
}

@media (min-width: 776px){

.produto2-faq{
  display: block;
}

.produto3-faq{
  display: block;
}

.produto4-faq{
  display: block;
}

.caminho-pao ul{
  display: block;
}
   /*BREANDCRUMB CSS*/
  /* Style the list */
ul.breadcrumb1 {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}

/* Display list items side by side */
ul.breadcrumb1 li {
    display: inline;
    font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb1 li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb1 li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb1 li a:hover {
    color: #01447e;
    text-decoration: underline;
}

header .div_header i{
  display: none;
}

header .div_header .img_cart{
  display: block;
  float: right;
  width: 40px;
  height: 40px;
}

header .div_header a{
  display: inline;
  color: white;
  font-size: 25px;
  text-align: center;
}

header .div_header .header-links{
  float: right;
  position: relative;
  right: 40px;
  top: 4px;
}

header .div_header .header-links .header_login{
  margin-left: 30px;
}

header .div_header .barra_de_pesquisa{
  display: block;
  float: right;
  margin-right: 350px;
  margin-top: 8px!important;
}

header .div_header .barra_de_pesquisa input ,header .div_header .barra_de_pesquisa button{
  border-radius: 0;
  border: 3px solid white;
}

header .div_header .barra_de_pesquisa input{
  background-color: grey;
  color: white;
  margin:0;
}

header .div_header .barra_de_pesquisa button{
  background-image: url("../images/lupa.jpg");
  padding: 18px;
  background-size: 38px;
  background-repeat: no-repeat;
  margin-right: 8px!important;
}

header .div_header .barra_de_pesquisa input::placeholder{
  color: white;
}

.div_banner{
  padding-top: 0;
}

.div_banner h2{
  padding-top: 50px;
  font-size: 80px;
}

.div_banner p{
  margin-top: 10px;
  font-size: 32px;
}

.div_banner #link_banner{
  font-size: 28px;

}

.menu-2{
  background-color: white;
  display: block;
  padding-top: 73px;
}

.menu-2 ul{
  list-style: none;
  display: inline-flex;
}

.menu-2 ul li{
margin: 0 15px;
}

.menu-2 ul a{
  color: black;
  font-size: 20px;
}

.menu-2 ul a:hover{
  text-decoration: none;
}
}
