*{
  font-family: 'Poiret One';
  padding: 0px;
  margin: 0px;
}
.container-fluid{
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-top: 0;
}

/* HEADER */

header{
  height: 68px;
  width: 100%;
  background-color: black;
  position: fixed;
  z-index: 999;
}

header::after{
  clear: both;
  display: block;
  content: "";
}

.fa-shopping-cart{
  display: none;
}

header .div_header .barra_de_pesquisa{
  display: none;
}

header .div_header{
  display: inline-block;
  width: 100%;
  padding: 10px;
}

header .div_header .logo{
  display: inline-block;
  color: white;
  font-size: 35px;
  text-align: center;
  text-decoration: none;
}

header i{
  float: right;
  font-size: 40px;
}

header .div_header .fa-shopping-cart, .menu-2, .header-links{
  display: none;
}

/* Header Logado */

#header_logado{
  height: 75px;
}

#header_logado ul{
  position:relative;
  top: 5px;
  list-style: none;
  display: inline-block;
}

#header_logado ul li{
  display: none;
}

#header_logado ul li a{
  padding: 0 10px;
  color: red;
  font-size: 25px;
}

#header_logado ul li a:hover{
  text-decoration: none;
}

#header_logado a{
  color: yellow;
  text-decoration: none;
}

#header_logado span{
  font-size: 18px;
  color: white;
}

#header_logado .fas{
  color: white;
  position: relative;
  top: 20px;
  right: 35px;
}

#header_logado #contador{
  font-size: 20px;
  color: blue;
  position: absolute;
  top: 21px;
  right: 47px;
  font-family: sans-serif !important;
}

/* Header Deslogado */

#header_deslogado{
  height: 75px;
}

#header_deslogado a{
  text-decoration: none;
}

#header_deslogado a img{
  height: 75px;
}

#header_deslogado ul{
  display: none;
}

/* Caixa de Alerta da Home caso esteja logado */

.alert{
  width: 500px;
  z-index: 998;
  position: absolute !important;
  top: 75px;
  left: 400px;
  font-size: 20px;
}

.alert p , .alert h3{
  font-family: eczar !important;
}

.alert .close{
  font-size: 3.5rem;
}

.alert b a{
  text-decoration: none;
}

/* BANNER */

.div_banner{
  background-image: url("../images/produto-banner-01.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 533px;
  padding: 30px;
  padding-top: 80px;
}


.div_banner h2{
  text-align: center;
  color: white;
  font-size: 50px;
}

.div_banner p{
  text-align: center;
  color: white;
  margin-top: 10px;
  font-size: 25px;
}

.div_banner #link_banner{
  margin-top: 250px;
}

.div_banner .vermais1{
  text-align: center;
  color: white;
  border: 2px solid white;
  padding: 5px;
}

/* PRODUTO DE DESTAQUE */

.destaque{
  background-image: url(../images/produto-destaque-01.jpg);
  background-size: cover;
  height: 300px;
  padding: 10px;
  margin-bottom: 20px;
}

.destaque p, .destaque h3{
  color: white;
  text-align: center;
}

.destaque h3{
  margin-top: 30px;
  font-size: 40px;
}

.destaque p{
  margin-top: 15px;
  font-size: 20px;
}

.destaque a{
  color: white;
  border: 2px white solid;
  padding: 5px;
  width: auto;
  height: auto;
  font-size: 25px;
}

.destaque a:hover{
  color: white;
  text-decoration: none;
}

.destaque #link_destaque{
  text-align: center;
  margin-top: 100px;
}

.div_produtos{
  padding: 5px;
}

.div_produtos .produto1{
  background-image: url("../images/produto-01.jpg");
  background-size: cover;
  height: 65vh;
  width: 95%;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
}

.div_produtos .produto1 h3{
  font-size: 25px;
  color: white;
}

.div_produtos .produto1 p{
  color: white;
}

.div_produtos .produto2{
  background-image: url("../images/produto-02.jpg");
  background-size: cover;
  height: 65vh;
  width: 95%;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
}

.div_produtos .produto2 h3{
  font-size: 25px;
  color: white;
}

.div_produtos .produto2 p{
  color: white;
}

.div_produtos .produto3{
  background-image: url("../images/produto-03.jpg");
  background-size: cover;
  height: 65vh;
  width: 95%;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
}

.div_produtos .produto3 h3{
  font-size: 25px;
  color: white;
}

.div_produtos .produto3 p{
  color: white;
}

.div_produtos .produto4{
  background-image: url("../images/produto-04.jpg");
  background-size: cover;
  height: 65vh;
  width: 95%;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
}

.div_produtos .produto4 h3{
  font-size: 25px;
  color: white;
}

.div_produtos .produto4 p{
  color: white;
}

.div_produtos .vermais{
  text-align: center;
  color: white;
  border: 2px solid white;
  padding: 5px;
  position: absolute;
  top: 86%;
  left: 70%;
  z-index: 988;
}


    /* CSS footer */
footer{
  background-color: black;
  text-align: center;
  padding: 10px;
}

footer h4{
  color: white;
}

footer p{
  color: white;
  font-size: 20px;
}

footer img{
  width: 40px;
}

footer a{
  color: white;
}

footer ul{
  list-style: none;
  padding: 0px;
}

footer label input{
  margin-right: 0 !important;
}

footer label button{
  margin-left: 0 !important;
}

footer .categorias{
  margin-top: 10px;
}

footer .institucional{
  margin-top: 10px;
}

footer .contatos{
  margin-top: 10px;
}

      /* CSS FAQ */
.categorias-faq{
  text-align: center;
  width: 100%;
  margin-top: 9vh;
}

.breadcrumb1{
  display: none;
}

.botao_categorias{
  padding: 15px;
}

.prod-destaque{
  background-image: url("../images/produto-destaque-01.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 30vh;
  padding: 10px;
  margin-top: 10px;
}

.prod-destaque h2{
  color: white;
  text-align: center;
  font-size: 24px;
}

.prod-destaque p{
  color: white;
  text-align: center;
}

.prod-destaque .comprar{
  text-align: center;
  color: white;
  border: 2px solid white;
  padding: 5px;
}

.perguntas{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.prod-dest-faq{
  text-align: center;
  width: 100%;
}

.prod-dest-faq p{
  margin-bottom: 0;
}

 .produto-faq{
  background-image: url("../images/produto-01.jpg");
  background-size: cover;
  background-position: center;
  height: 65vh;
  width: 95%;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
  color: white;
}

.vermais-prod-faq{
color: white;
border: 2px solid white;
padding: 5px;
}

.produto2-faq{
 background-image: url("../images/produto-02.jpg");
 background-size: cover;
 background-position: center;
 height: 65vh;
 width: 95%;
 margin: auto;
 margin-bottom: 10px;
 padding: 10px;
 color: white;
 display: none;
}

.vermais-prod2-faq{
color: white;
border: 2px solid white;
padding: 5px;
}

.produto3-faq{
 background-image: url("../images/produto-03.jpg");
 background-size: cover;
 background-position: center;
 height: 65vh;
 width: 95%;
 margin: auto;
 margin-bottom: 10px;
 padding: 10px;
 color: white;
 display: none;
}

.vermais-prod3-faq{
color: white;
border: 2px solid white;
padding: 5px;
}

.produto4-faq{
 background-image: url("../images/produto-04.jpg");
 background-size: cover;
 background-position: center;
 height: 65vh;
 width: 95%;
 margin: auto;
 margin-bottom: 10px;
 padding: 10px;
 color: white;
 display: none;
}

.vermais-prod4-faq{
color: white;
border: 2px solid white;
padding: 5px;
}

aside{
  margin: 0;
}

.perguntas{
  margin: 0;
}

.perguntas b{
  text-align: center;
}

.row{
  margin: 0 !important;
}

.btn{
  margin-top: 10px;
}

/* Página de Cadastro */

.register{
 padding-top: 75px;
}

.date, .gender, .check-terms{
  padding-left: 20px;
}

.register #reg-subtitulo{
  display: block;
  text-align: center;
  margin-bottom: 15px;
}

.register #reg-subtitulo h2{
  padding: 35px 0;
  font-size: 40px;
  width: 100%;
  background-color: #f1f1f1;
}

.register label{
  margin-right: 15px;
}

.register h3{
  text-align: center;
  padding-top: 15px;
}

.register article a:hover{
  color: blue;
  text-decoration: underline;
}

.register-buttons{
  display: block;
  text-align: center;
}

.register-buttons input{
  height: 35px;
  border: 1px solid black;
  padding: 0 4px;
  border-radius: 3px;
  font-family: sans-serif;
}

.register span{
  display: block;
  text-align: center;
  padding: 15px 0;
}

.register span a{
  font-size: 18px;
  font-weight: bold;
}

.register a:hover{
  color: black;
  text-decoration: none;
}

/* Segunda Página de Cadastro */

#register2{
  margin: auto;
  width:300px;
  height:300px;
  padding-top: 90px;
  margin-bottom: 52px;
}

#register2 #form-reg-2{
  display:block;
}

 #register2 fieldset {
    display: block;
    margin-left: 2px;
    /* margin-right: 2px; */
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    width: 300px;
    height: 180px;
    border: 2px solid grey !important;
}

#register2 fieldset legend{
  font-style:bold;
  font-family: “Segoe UI”,”Arial”,”Times New Roman”;
  width: auto !important;
}

#register2 fieldset label{
  font-size: 20px;
}

#register2 fieldset select{
  padding: 5px;
}

#register2 fieldset select, #register2 fieldset label{
  font-family: roboto;
  position: relative;
  left: 35px;
}

#register2 fieldset input{
  padding: 5px;
  background-color: #C2C1C1;
  position: relative;
  bottom: -10px;
  left: 100px;
  font-size: 18px;
  font-family: roboto;
}

/* Página De Login */

#log-subtitulo{
  display: block;
  text-align: center;
  padding-top: 75px;
}

#log-subtitulo h2{
  font-size: 50px;
  background-color: #f1f1f1;
  width: 100%;
  padding: 20px 0;
}

.login{
  text-align: center;
  position: relative;
  top: 30px;
}

.caixa-login{
  height: 40px;
  width: 250px;;
  font-size: 20px;
}


.botao-entrar{
  color: white;
  padding: 5px;
  width: 170px;
  font-family: sans-serif;
  background-color: #19547c ;
}

.form-check{
  font-size: 18px;
}

.checkbox{
  height: 20px;
  width: 20px;
}

.logado{
  font-weight: bold;
  margin-left: 5px;
  font-size: 18px;
}

.botao-logar{
  font-size: 19px;
  margin-top: 10px;
}

.ou{
  font-size: 20px;
  position: relative;
  top: 10px;
}

.criar-conta{
  font-size: 21px;
}

.copyright, .footer-links{
  text-align: center;
  position: relative;
  top: 110px;
}

@media (min-width: 776px){

.produto2-faq{
  display: block;
}

.produto3-faq{
  display: block;
}

.produto4-faq{
  display: block;
}

.caminho-pao ul{
  display: block;
}
   /*BREANDCRUMB CSS*/
  /* Style the list */
ul.breadcrumb1 {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}

/* Display list items side by side */
ul.breadcrumb1 li {
    display: inline;
    font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb1 li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb1 li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb1 li a:hover {
    color: #01447e;
    text-decoration: underline;
}

header .div_header i{
  display: none;
}

header .div_header .fa-shopping-cart{
  display: block;
  float: right;
  font-size: 40px;
  color: white;
}

header .div_header a{
  display: inline;
  color: white;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
}

header .div_header .header-links{
  display: inline-block;
  float: right;
  position: relative;
  right: 40px;
  top: 4px;
}

header .div_header .header-links .header_login{
  margin-left: 30px;
}

header .div_header .barra_de_pesquisa{
  display: inline-block;
  float: right;
  position: relative;
  top: 10px;
  right: 275px;
}

header .div_header .barra_de_pesquisa input{
  border-radius: 0;
  border: 1px solid white;
  padding: 5px;

}

header .div_header .barra_de_pesquisa .botao-pesquisa{
  background-color: white;
  color: white;
  margin:0;
}

header .div_header .barra_de_pesquisa .espaco-pesquisa{
  background-color: black;
  color: white;
  width: 160px;
  height: 30px;
}

header .div_header .barra_de_pesquisa .fa-search{
  color: black;
  font-size: 18px;
}

header .div_header .barra_de_pesquisa input::placeholder{
  color: white;
}

.div_banner{
  padding-top: 0;
}

.div_banner h2{
  padding-top: 50px;
  font-size: 80px;
}

.div_banner p{
  margin-top: 10px;
  font-size: 32px;
}

.div_banner #link_banner{
  font-size: 28px;

}

.menu-2{
  background-color: white;
  display: block;
  padding-top: 73px;
}

.menu-2 ul{
  list-style: none;
  display: inline-flex;
}

.menu-2 ul li{
margin: 0 15px;
}

.menu-2 ul a{
  color: black;
  font-size: 20px;
}

.menu-2 ul a:hover{
  text-decoration: none;
}

/* Página de Cadastro */

.alerta{
  font-family: roboto;
  width: 360px;
  left: 500px;
  top: 80px;
}

.check-terms{
  padding-left: 105px;
  position: relative;
  left: 28px;
}

/* Header Logado */

#header_logado{
  height: 75px;
}

#header_logado ul{
  position:relative;
  top: 5px;
  list-style: none;
  display: inline-block;
}

#header_logado ul li{
  display: inline;
}

#header_logado ul li a{
  padding: 0 10px;
  color: red;
  font-size: 25px;
}

#header_logado ul li a:hover{
  text-decoration: none;
}

#header_logado a{
  color: yellow;
  text-decoration: none;
}

#header_logado span{
  position:relative;
  left: 420px;
  font-size: 20px;
  color: white;
}

#header_logado .fas{
  color: white;
  position: relative;
  top: 20px;
  right: 35px;
}

#header_logado #contador{
  font-size: 19px;
  color: blue;
  position: absolute;
  top: 22px;
  left: 1291px;
  font-family: sans-serif !important;
}

/* Header Deslogado */

#header_deslogado{
  height: 75px;
}

#header_deslogado a{
  text-decoration: none;
}

#header_deslogado ul{
  display: inline;
  list-style: none;
  position: relative;
  top: 5px;
}

#header_deslogado ul li{
  display: inline-block;
}

#header_deslogado ul li a{
  padding: 0 10px;
  color: white;
  font-size: 25px;
}

#header_deslogado ul li a:hover{
  text-decoration: none;
  color: white;
}

/* Footer */

footer a:hover{
  color: white;
  text-decoration: none;
}

/* Página de login */

#log-subtitulo h2{
  font-size: 40px;
  background-color: #f1f1f1;
  width: 100%;
  padding: 35px 0;
}

.caixa-login{
  height: 40px;
  width: 25%;
  font-size: 20px;
}

.logado{
  font-size: 20px;
}

.botao-logar{
  height: 40px;
  width: 90px;
  margin-top: 10px;
}

.ou{
  font-size: 20px;
  margin-top: 10px;
}

.botao-entrar{
  height: 35px;
  background-color: #19547c ;
  color: white;
  width: 20%;
  margin-bottom: 20px;
}

.criar-conta{
  font-size: 20px;
}
}
